.content{
    height:200px;
    width:200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.prof{
    height:80px;
    width:80px;
}

.self-g{
    justify-self: flex-start;
}

.main-contain{
    box-sizing: border-box;
}

.invert{
    transform: scaleX(-1);
}

/* .card-footer{
    width:1;
} */