.container1{
    display: flex;
    width: 50%;
    background-color: white;
    height: 500px;

}

.details1{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.add-comment1{
    display: flex;
    align-items: center;
}

.add-comment1 input{
    margin: 0;
    outline: none;
    border: none;
    padding: 10px
}

.comment1{
    border: none;
    background-color: none
    ;font-weight: bolder;
    cursor: pointer;
    color: #339ce3;
}


.material-symbols-outlined1{
    cursor: pointer;
}

.showComment1{
    width: 100vw;
    min-height:100vh ;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(16, 13, 13, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.comment-section1{
    flex-grow: 4;
    text-align: left;
    margin-left: 10px;
    overflow: scroll;
}

.close-comment1{
    position: fixed;
    top: 10%;
    right: 20%;
    color: white;
    border: none;
    cursor: pointer;
}


.material-symbols-outlined-comment1{
    font-size: 50px;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
