 html, body{
    height:100vh;
    height:100svh;
    height:100dvh;
}

#root{
    display: flex;
    flex-direction: column;
    min-height:100%;
}

.bx-grow{
    flex-grow: 1;
}

.req-field{
    color:red;
}